h1 {
  text-align: center;
}

p {
  text-align: center;
}

label {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  font-size: 18px;
}

option {
  font-size: 20px;
}

#passwordError, #usernameError, #firstnameError, #lastnameError, 
#emailError, #phonenumberError, #addressError, #cityError, #stateError,
#countryError, #zipcodeError {
  color: red;
  font-weight: bold;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 10px;
}

#comment {
  height: 60px;
}

#state, #country {
  width: 300px;
}

button {
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
}

.button: hover {
  background-color: #04AA6D;
  color: white;
}
