.row{
 position:relative;
 margin-left:5%;
 margin-right:5%;
}

.white{
 border: 1px solid black;
 width: 12%;
 height: 80px;
 background-color:white;
 float:left;
}
 
.black{
 border: 1px solid black;
 width: 12%;
 height: 80px;
 background-color: #787878;
 float:left;
}

#container {
 margin-top:10%;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:5%;
}

#title {
  text-align: center;
  font-family:'FantasqueSansMono';
  font-size: 50px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: #5d87cd;
}


#footer {
  border:solid 1px;
  margin-top: 28px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #504eab;
}

#clear{
clear:both;
}

body {
 background-image: url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
}
