body {
    text-align: center;
    background-color: #6679F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
   font-family: 'dpuntillasALaceRegular';
   font-weight: normal;
   font-style: normal;
  font-size: 30px;
}

h1 {
   font-family: 'SomeTimeLaterRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 60px;
}

img{
  width: 60%;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-direction: column;
    width: 700px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    text-align: center; 
    width: 50%;
    background-color: #A8A5F8;
}

li {
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
}

.crossed-out {
    text-decoration: line-through;
    color: red;
}


button {
    font-size: 1.2em;
    padding: 10px;
    background-color: #44E36C;
    color: white;
    border: none;
    font-size: 25px;
    border-radius: 5px;
    display: block;
}

button:hover {
    background-color: #0056b3;
}
