body {
    text-align: center;
    background-color: #6679F6;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
   font-family: 'SomeTimeLaterRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 50px;
   text-align: center;
}

/* Game container styling */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-direction: column;
    width: 700px;
}


img {
    width: 80%;
    display: block;
}


ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    text-align: center; 
    width: 50%;
    background-color: #A8A5F8;
}

li {
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
}

.crossed-out {
    text-decoration: line-through;
    color: red;
}


button {
    font-size: 1.2em;
    padding: 10px;
    background-color: #44E36C;
    color: white;
    border: none;
    font-size: 25px;
    border-radius: 5px;
    display: block;
}

button:hover {
    background-color: #0056b3;
}
