body {
    text-align: center;
    background-color: #6679F6;
  font-size: 20px;
}

h1 {
   font-family: 'SomeTimeLaterRegular';
   font-weight: normal;
   font-style: normal;
  font-size: 70px;
  text-align: center;
}

.game-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

img {
    width: 80%;
    max-width: 600px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin: 10px;
    cursor: pointer;
}

.crossed-out {
    text-decoration: line-through;
    color: red;
}

button {
  font-size: 1.2em;
  background-color: #44E36C;
  color: white;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
}

button:hover {
    background-color: #0056b3;
}
