* {
  font-family:'Unique';
  color: #032016;
  text-align: center;}

#nav, #footer{  
  background-size: contain;
  background-position: center;
  background-repeat:no-repeat;}

body {
  width: 90%;
  margin: 5%;
  background-image: url("https://th.bing.com/th/id/OIP.MNdBnuVjma-hi-g5gDE4twHaEc?w=274&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7");}

#nav {
  margin: 1%;
  height: 3em;
  margin-bottom: 1em;
  padding: 0.5em 0;
  background-color: #d2b4de;}
  
#feature {
  background-color: #5dade2;
  background-position: center;
  background-repeat:no-repeat;
  height: 15em;
  margin-bottom: 1em;
  margin: 1%;
  font-size: 18px;}
  
#footer {
  background-color: #85929e;
  padding: 0.5em 0;
  margin: 1%;}

#content {
  overflow: auto;}
  
li {
  display: inline;
  padding: 0.5em;}
