#title{
text-align: center;
font-family:'FantasqueSansMono';
margin-top: 100px;
margin-bottom: 100px;
background-color: lightblue;
}

.row{
 position:relative;
 margin-left:5%;
 margin-right:5%;
}

.white{
 border: 1px solid black;
 width: 12%;
 height: 80px;
 background-color:white;
 float:left;
}
 
.black{
 border: 1px solid black;
 width: 12%;
 height: 80px;
 background-color:#787878;
 float:left;
}

#container {
 margin-top:10%;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:5%;
}


img {
 margin-left: 45px;
 margin-top: 13px;
 }

#footer {
 border:solid 1px;
 margin:28px;
 text-align: center;
}
#clear{
clear:both;
}
body {
 background-image:url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
}
